<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->


    <!-- Main site -->
    <main id="site-main">
        <div class="container newUser">
            <div class="box-nav d-flex-justify-between">
               <div class="filter">
                   <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
               </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light"> Use a below form to create an new account</span>
            </div>
            <!-- /Main site -->

            <!-- Add user form -->
            <%- include('include/_form') %>
            
        </div>
    </main>

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->