<!-- form handling -->
<form action="/api/users"  method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Muhammad Faizan">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="Email@gmail.com">
        </div>
        <div class="form-group">
            <label for="phone" class="text-light">Phone</label>
            <input type="text" name="phone" value="" placeholder="**********">
        </div>
        <div class="form-group">
            <label for="city" class="text-light">city</label>
            <input type="text" name="city" value="" placeholder="sukkur">
        </div>
        <div class="form-group">
            <label for="postcode" class="text-light">Postcode</label>
            <input type="text" name="postcode" value="" placeholder="65200">
        </div>

        
        <div class="form-group">
            <button type="submit" class="btn btn-primary text-dark update">Save</button>
        </div>

    </div>
</form>
<!-- /form  handling-->